<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.js">
    <title>Document</title>
</head>

<body>
    <div class="ss3">
        <div class="san-pham-moi">
            <h3 class="h3-1">SẢN PHẨM MỚI</h3>

            <div class="d-flex">
                <div class="box-1">
                    <img class="hinh-san-pham-1" src="./img/tung-bong-lai-chu-su-de-ban-mowgarden-01-800x960.jpg"
                        alt="">
                    <p>Sản Phẩm 1</p>
                    <p>50.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-2">
                    <img class="hinh-san-pham-2" src="./img/cay-phat-tai-bo-mowgarden-02-800x960.jpg" alt="">
                    <p>Sản Phẩm 2</p>
                    <p>60.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-3">
                    <img class="hinh-san-pham-3" src="./img/cay-kim-ngan-3-than-chau-trang-mowgarden-800x960.jpg" alt="">
                    <p>Sản Phẩm 3</p>
                    <p>100.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-4">
                    <img class="hinh-san-pham-4" src="./img/12-cay-trau-ba-de-vuong-xanh-de-ban-chau-su-trang-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 4</p>
                    <p>250.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-5">
                    <img class="hinh-san-pham-5" src="./img/luoi-ho-nga-voi-mowgarden-800x960.jpg" alt="">
                    <p>Sản Phẩm 5</p>
                    <p>200.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
            </div>
            <div class="d-flex-2">
                <div class="box-6">
                    <img class="hinh-san-pham-6" src="./img/co-lan-chi-de-ban-mowgaden-800x960.jpg" alt="">
                    <p>Sản Phẩm 6</p>
                    <p>150.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-7">
                    <img class="hinh-san-pham-7" src="./img/trau-ba-de-vuong-do-de-ban-mowgarden-800x960.jpg" alt="">
                    <p>Sản Phẩm 7</p>
                    <p>500.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-8">
                    <img class="hinh-san-pham-8" src="./img/cay-luoi-ho-bengar-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 8</p>
                    <p>350.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-9">
                    <img class="hinh-san-pham-9" src="./img/cay-hanh-phuc-2-tang-chau-da-mai-tron-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 9</p>
                    <p>300.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-10">
                    <img class="hinh-san-pham-10" src="./img/cay-trau-ba-cot-chau-xi-mang-van-soc-ngang-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 10</p>
                    <p>250.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
            </div>
            <div class="d-flex-3">
                <div class="box-11">
                    <img class="hinh-san-pham-11" src="./img/cay-hong-mon-de-ban-chau-su-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 11</p>
                    <p>249.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-12">
                    <img class="hinh-san-pham-12" src="./img/cay-ngu-gia-bi-cam-thach-768x768.jpg" alt="">
                    <p>Sản Phẩm 12</p>
                    <p>321.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-13">
                    <img class="hinh-san-pham-13" src="./img/luoi-ho-xanh-mini-mowgarden-01-768x768.jpg" alt="">
                    <p>Sản Phẩm 13</p>
                    <p>150.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-14">
                    <img class="hinh-san-pham-14" src="./img/cay-lan-y-de-ban-chau-su-mowgarden-01-768x768.jpg" alt="">
                    <p>Sản Phẩm 14</p>
                    <p>100.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-15">
                    <img class="hinh-san-pham-15" src="./img/cay-hanh-phuc-van-phong-2-tang-chau-su-hoa-tiet-mowgarden-768x768.jpg" alt="">
                    <p>Sản Phẩm 15</p>
                    <p>900.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
            </div>
            <div class="d-flex-4">
                <div class="box-16">
                    <img class="hinh-san-pham-16" src="./img/cay-hanh-phuc-de-san-chau-su-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 16</p>
                    <p>210.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-17">
                    <img class="hinh-san-pham-17" src="./img/cay-kim-ngan-that-binh-lon-de-san-chau-su-768x768.jpg" alt="">
                    <p>Sản Phẩm 17</p>
                    <p>200.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-18">
                    <img class="hinh-san-pham-18" src="./img/cay-kim-ngan-mot-than-chau-su-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 18</p>
                    <p>400.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-19">
                    <img class="hinh-san-pham-19" src="./img/cay-co-la-xe-de-ban-chau-su-trang-1a-768x768.jpg" alt="">
                    <p>Sảm Phẩm 19</p>
                    <p>120.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-20">
                    <img class="hinh-san-pham-20" src="./img/cay-phu-quy-chau-su-tho-cam-mow-garden-768x768.jpg" alt="">
                    <p>Sản Phẩm 20</p>
                    <p>500.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
            </div>
        </div>

        <div class="cay-canh-de-ban">
            <h3 class="h3-2">CÂY CẢNH ĐỂ BÀN</h3>

            <div class="d-flex-5">
              <div class="box-21">
                <img class="hinh-san-pham-21" src="./img/tung-bong-lai-chu-su-de-ban-mowgarden-01-800x960.jpg" alt="">
                <p>Sản Phẩm 21</p>
                <p>320.000</p>
                <span class="add-to-cart">🛒 Thêm vào giỏ</span>
              </div>
              <div class="box-22">
                <img class="hinh-san-pham-22" src="./img/cay-kim-ngan-3-than-chau-trang-mowgarden-800x960.jpg" alt="">
                <p>Sản phẩm 22</p>
                <p>280.000</p>
                <span class="add-to-cart">🛒 Thêm vào giỏ</span>
              </div>
              <div class="box-23">
                <img class="hinh-san-pham-23" src="./img/cay-trau-ba-de-vuong-xanh-mowgarden.jpg" alt="">
                <p>Sản Phẩm 23</p>
                <p>120.000</p>
                <span class="add-to-cart">🛒 Thêm vào giỏ</span>
              </div>
              <div class="box-24">
                <img class="hinh-san-pham-24" src="./img/luoi-ho-xanh-mini-mowgarden-01-768x768.jpg" alt="">
                <p>Sản Phẩm 24</p>
                <p>200.000</p>
                <span class="add-to-cart">🛒 Thêm vào giỏ</span>
              </div>
              <div class="box-25">
                <img class="hinh-san-pham-25" src="./img/co-lan-chi-de-ban-mowgaden-800x960.jpg" alt="">
                <p>Sản Phẩm 25</p>
                <p>150.000</p>
                <span class="add-to-cart">🛒 Thêm vào giỏ</span>
              </div>
            </div>
            <div class="d-flex-6">
                <div class="box-26">
                    <img class="hinh-san-pham-26" src="./img/trau-ba-de-vuong-do-de-ban-mowgarden-800x960.jpg" alt="">
                    <p>Sản Phẩm 26</p>
                    <p>320.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-27">
                    <img class="hinh-san-pham-27" src="./img/cay-luoi-ho-bengar-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 27</p>
                    <p>120.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-28">
                    <img class="hinh-san-pham-28" src="./img/cay-hong-mon-de-ban-chau-su-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 28</p>
                    <p>220.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-29">
                    <img class="hinh-san-pham-29" src="./img/cay-ngu-gia-bi-cam-thach-768x768.jpg" alt="">
                    <p>Sản Phẩm 29</p>
                    <p>100.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-30">
                    <img class="hinh-san-pham-30" src="./img/cay-kim-ngan-mot-than-chau-su-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 30</p>
                    <p>100.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
            </div>
        </div>
        <div class="cay-canh-van-phong">
            <h3 class="h3-3">CÂY CẢNH VĂN PHÒNG</h3>

            <div class="d-flex-7">
                <div class="box-31">
                    <img class="hinh-san-pham-31" src="./img/cay-hanh-phuc-de-san-chau-su-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 31</p>
                    <p> 120.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
                <div class="box-32">
                    <img class="hinh-san-pham-32" src="./img/11-cay-bang-dai-loan-cam-thach-chau-su-trang-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 32</p>
                    <p> 1.200.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-33">
                    <img class="hinh-san-pham-33" src="./img/cay-phat-tai-nui-chau-da-mai-den-800x960.jpg" alt="">
                    <p>Sản Phẩm 33</p>
                    <p> 1.750.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-34">
                    <img class="hinh-san-pham-34" src="./img/cay-hanh-phuc-mot-than-chau-dat-nung-800x960.jpg" alt="">
                    <p>Sản Phẩm 34</p>
                    <p> 900.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-35">
                    <img class="hinh-san-pham-35" src="./img/cay-ngu-gia-bi-chau-da-mai-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 35</p>
                    <p> 700.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
        </div>
        <div class="d-flex-8">
            <div class="box-36">
                    <img class="hinh-san-pham-36" src="./img/cay-dai-phu-gia-mix-trau-ba-neon-800x960.jpg" alt="">
                    <p>Sản Phẩm 36</p>
                    <p> 800.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
             <div class="box-37">
                    <img class="hinh-san-pham-37" src="./img/cay-truc-bach-hop-chau-da-mai-giot-nuoc-800x960.jpg" alt="">
                    <p>Sản Phẩm 37</p>
                    <p> 900.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-38">
                    <img class="hinh-san-pham-38" src="./img/trau-ba-thanh-xuan-chau-su-trang-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 38</p>
                    <p> 1.200.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-39">
                    <img class="hinh-san-pham-39" src="./img/cay-trau-ba-nam-mymonstera-borsigiana-800x960.jpg" alt="">
                    <p>Sản Phẩm 39</p>
                    <p> 750.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
             <div class="box-40">
                    <img class="hinh-san-pham-40" src="./img/cay-canh-van-phong-mix-dai-phu-gia-800x960.jpg" alt="">
                    <p>Sản Phẩm 40</p>
                    <p> 1.450.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
        </div>
        <div class="d-flex-9">
             <div class="box-41">
                    <img class="hinh-san-pham-41" src="./img/cay-cau-vang-nhat-ban-chau-da-mai-800x960.jpg" alt="">
                    <p>Sản Phẩm 41</p>
                    <p> 700.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-42">
                    <img class="hinh-san-pham-42" src="./img/cay-hanh-phuc-2-tang-chau-su-trang-800x960.jpg" alt="">
                    <p>Sản Phẩm 42</p>
                    <p> 940.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-43">
                    <img class="hinh-san-pham-43" src="./img/cay-bang-singapore-co-lon-dang-tree-chau-su-1-768x768.jpg" alt="">
                    <p>Sản Phẩm 43</p>
                    <p> 1.940.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-44">
                    <img class="hinh-san-pham-44" src="./img/cay-kim-ngan-binh-kich-thuoc-lon-800x960.jpg" alt="">
                    <p>Sản Phẩm 44</p>
                    <p> 1.940.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
             <div class="box-45">
                    <img class="hinh-san-pham-45" src="./img/phattaituimowgarden3-800x960.jpg" alt="">
                    <p>Sản Phẩm 45</p>
                    <p> 1.740.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
        </div>
    </div>
    <div class="chau-xi-mang-da-mai">
        <h3 class="h3-4">CHẬU XI MĂNG ĐÁ MÀI</h3>
        <div class="d-flex-10">
            <div class="box-46">
                    <img class="hinh-san-pham-46" src="./img/chau-xi-mang-da-mai-remy-5-800x960.jpg" alt="">
                    <p>Sản Phẩm 46</p>
                    <p> 340.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
             <div class="box-47">
                    <img class="hinh-san-pham-47" src="./img/chau-xi-mang-hinh-tru-son-den-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 47</p>
                    <p> 540.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
             <div class="box-48">
                    <img class="hinh-san-pham-48" src="./img/chau-xi-mang-da-mai-granito-dang-remy-768x768.jpg" alt="">
                    <p>Sản Phẩm 48</p>
                    <p> 360.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-49">
                    <img class="hinh-san-pham-49" src="./img/chau-xi-mang-da-mai-van-quan-roi-4-800x960.jpg" alt="">
                    <p>Sản Phẩm 49</p>
                    <p> 220.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-50">
                    <img class="hinh-san-pham-50" src="./img/chau-xi-mang-da-mai-ve-800x960.jpg" alt="">
                    <p>Sản Phẩm 50</p>
                    <p> 320.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
        </div>
        <div class="d-flex-11">
            <div class="box-51">
                    <img class="hinh-san-pham-51" src="./img/chau-xi-mang-da-mai-tron-ong-thap-5-800x960.jpg" alt="">
                    <p>Sản Phẩm 51</p>
                    <p> 320.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
             <div class="box-52">
                    <img class="hinh-san-pham-52" src="./img/chau-xi-mang-dai-mai-son-hoa-tiet-800x960.jpg" alt="">
                    <p>Sản Phẩm 52</p>
                    <p> 440.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-53">
                    <img class="hinh-san-pham-53" src="./img/chau-xi-mang-son-mau-800x960.jpg" alt="">
                    <p>Sản Phẩm 53</p>
                    <p> 420.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
             <div class="box-54">
                    <img class="hinh-san-pham-54" src="./img/chau-xi-mang-da-mai-giot-nuoc-mau-den-800x960.jpg" alt="">
                    <p>Sản Phẩm 54</p>
                    <p> 500.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-55">
                    <img class="hinh-san-pham-55" src="./img/chau-xi-mang-da-mai-son-mau-800x960.jpg" alt="">
                    <p>Sản Phẩm 55</p>
                    <p> 520.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
        </div>
    </div>
    <div class="chau-gom-su">
        <h3 class="h3-5">CHẬU GỐM SỨ</h3>
       <div class="d-flex-12">
             <div class="box-56">
                    <img class="hinh-san-pham-56" src="./img/chau-su-hinh-tru-hoa-tiet-geo-4-800x960.jpg" alt="">
                    <p>Sản Phẩm 56</p>
                    <p> 80.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-57">
                    <img class="hinh-san-pham-57" src="./img/chau-su-trang-hoa-tiet-monstera-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 57</p>
                    <p> 60.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-58">
                    <img class="hinh-san-pham-58" src="./img/chau-su-trang-trang-tri-hoa-tiet-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 58</p>
                    <p> 60.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-59">
                    <img class="hinh-san-pham-59" src="./img/chau-gom-su-hoa-cuc-3-800x960.jpg" alt="">
                    <p>Sản Phẩm 59</p>
                    <p> 60.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-60">
                    <img class="hinh-san-pham-60" src="./img/chau-su-hinh-tru-trung-mau-trang-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 60</p>
                    <p> 160.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
       </div>
       <div class="d-flex-13">
            <div class="box-61">
                    <img class="hinh-san-pham-61" src="./img/chau-su-hinh-khoi-vuong-van-gon-song-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 61</p>
                    <p> 150.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-62">
                    <img class="hinh-san-pham-62" src="./img/chau-gom-su-tru-tron-trang-hoa-tiet-ke-soc-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 62</p>
                    <p> 250.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
             <div class="box-63">
                    <img class="hinh-san-pham-63" src="./img/chau-gom-su-hoa-tiet-tam-giac-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 63</p>
                    <p> 230.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-64">
                    <img class="hinh-san-pham-64" src="./img/chau-gom-su-hoa-tiet-o-vuong-2-800x960.jpg" alt="">
                    <p>Sản Phẩm 64</p>
                    <p> 230.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
            </div>
            <div class="box-65">
                    <img class="hinh-san-pham-65" src="./img/chau-gom-su-hoa-tiet-dan-may-3-800x960.jpg" alt="">
                    <p>Sản Phẩm 65</p>
                    <p> 250.000</p>
                    <span class="add-to-cart">🛒 Thêm vào giỏ</span>
                </div>
       </div>
    </div>
</body>

</html>