<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="header.css">
    <title>MOW Garden</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="header-top-desktop">
                <div class="contact">
                    <p>8:30-22:00</p>
                    <p>|</p>
                    <a href="tel:0359146052"><i class="fa-solid fa-phone" style="color: #ffffff;"></i> 0359146052</a>
                </div>
                <div class="login">
                    <a href=""><i class="fa-solid fa-heart" style="color: #ffffff;"></i></a>
                    <p>|</p>
                    <a href="">Login</a>
                </div>

            </div>
            <div class="header-top-mobile">
                <h3>HOTLINE: 0359 146 052 (8H-22H)</h3>
            </div>
        </div>
        <div class="header-main">
            <div class="header-main-desktop">
                <div class="logo"><a href=""><img src="../../img/LOGO.png" alt=""></a></div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="">Cây Trong Nhà <i class="fa-solid fa-angle-down"></i></a>
                            <div class="menu-1">
                                <div>
                                    <h3>Theo kiểu dáng cây</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây cao & lớn</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây cảnh mini</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây treo trong nhà</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây nhiệt đới</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây kiểng lá</a></p>
                                </div>
                                <div>
                                    <h3>Theo vị trí đặt</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây Cảnh để bàn</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây cảnh văn phòng</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây trong bếp & nhà tắm</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây trước cửa & hành lang</a>
                                    </p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây trồng ban công</a></p>
                                </div>
                                <div>
                                    <h3>Theo chức năng</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây lọc không khí</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây dễ trồng</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây cần ít ánh sáng</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây thủy sinh</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây phong thủy</a></p>
                                </div>
                                <div><img src="../../img/menu-cay-canh-trong-nha.jpg" alt=""></div>
                            </div>
                        </li>
                        <li><a href="">Cây Ngoài Trời <i class="fa-solid fa-angle-down"></i></a>
                            <div class="menu-2">
                                <div>
                                    <h3>Theo kiểu dáng</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây tầm trung</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây tầm thấp</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Tán hình tròn</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Tán hình tháp</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Tán phân tầng</a></p>
                                </div>
                                <div>
                                    <h3>Theo đặc điểm</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây thường xanh</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây lá màu</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây dạng bụi</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây leo dàn</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây thân đốt</a></p>
                                </div>
                                <div>
                                    <h3>Theo chức năng</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây bóng mát</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây có hoa</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây ăn quả</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây hàng rào</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cây phủ nền</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Cỏ nền</a></p>
                                </div>
                                <div><img src="../../img/menu-cay-ngoai-troi.jpg" alt=""></div>
                            </div>
                        </li>
                        <li><a href="">Chậu Cây <i class="fa-solid fa-angle-down"></i></a>
                            <div class="menu-3">
                                <div>
                                    <h3>Theo kiểu dáng</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu hình vuông</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu chữ nhật</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Hình tròn bầu</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Trụ tròn đứng</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu treo</a></p>
                                </div>
                                <div>
                                    <h3>Theo vật liệu</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu nhựa</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu xi măng</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu đất nung</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu gốm sứ</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu gỗ</a></p>
                                </div>
                                <div>
                                    <h3>Theo kích thước</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu nhỏ để bàn</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu cỡ trung</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu cỡ lớn</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Chậu dáng cao</a></p>
                                </div>
                                <div><img src="../../img/menu-chau-cay-kieng.jpg" alt=""></div>
                            </div>
                        </li>
                        <li><a href="">Phụ Kiện <i class="fa-solid fa-angle-down"></i></a>
                            <div class="menu-4">
                                <div>
                                    <!-- <h3>CAY TRONG NHA</h3> -->
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Phụ Kiện trang trí</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Phân bón</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Dụng cụ làm vườn</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">Đất trồng cây (giá thể)</a></p>
                                </div>
                                <!-- <div>
                                    <h3>CAY TRONG NHA</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">CAY 1</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">CAY 1</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">CAY 1</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">CAY 1</a></p>
                                </div>
                                <div>
                                    <h3>CAY TRONG NHA</h3>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">CAY 1</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">CAY 1</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">CAY 1</a></p>
                                    <p><i class="fa-solid fa-angle-right"></i><a href="">CAY 1</a></p>
                                </div> -->
                                <!-- <div><img src="../../img/menu-cay-canh-trong-nha.jpg" alt=""></div> -->
                            </div>
                        </li>
                        <li><a href="">Hướng Dẫn <i class="fa-solid fa-angle-down"></i></a>
                            <div class="menu-5">
                                <div>
                                    <img src="../../img/hinh-menu-huong-dan-1.jpg" alt="">
                                    <h5>Thông tin về cây</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, soluta.
                                    </p>
                                </div>
                                <div>
                                    <img src="../../img/hinh-menu-huong-dan-2.jpg" alt="">
                                    <h5>Kiến thức và cách chăm sóc</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, soluta.
                                    </p>
                                </div>
                                <div>
                                    <img src="../../img/hinh-menu-huong-dan-3.jpg" alt="">
                                    <h5>Cảm hứng và ý tưởng</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, soluta.
                                    </p>
                                </div>
                                <div>
                                    <img src="../../img/hinh-menu-huong-dan-4.jpg" alt="">
                                    <h5>MOW garden 360</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, soluta.
                                    </p>
                                    <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia suscipit iste repellat deserunt facere a veritatis repudiandae incidunt! Impedit tenetur laborum neque quisquam, esse aut quia animi doloremque harum sint.</p> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <h3>0đ</h3>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="header-main-mobile">
                <a href=""><i class="fa-solid fa-bars" style="color: #000000;"></i></a>
                <div class="logo"><img src="../../img/LOGO.png" alt=""></div>
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="header-main-mobile-bottom">
                <div>
                    <a href=""> <i class="fa-solid fa-bars"></i>
                        <p>MENU</p>
                    </a>
                </div>
                <div>
                    <a href=""> <i class="fa-solid fa-cart-shopping"></i>
                        <p>GIỎ HÀNG</p>
                    </a>
                </div>
                <div>
                    <a href=""> <i class="fa-solid fa-phone-volume"></i>
                        <p>GỌI NGAY</p>
                    </a>
                </div>
                <div>
                    <a href=""> <i class="fa-brands fa-facebook-messenger"></i>
                        <p>MESSENGER</p>
                    </a>
                </div>
                <div>
                    <a href=""> <i class="fa-solid fa-comment-sms"></i>
                        <p>SMS</p>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="section-1">
        <img class="section-1-background" src="../../img/mowgarden-shop-ban-cay-canh.jpg" alt="">
        <div class="text-box">
            <h2>Tận hưởng cuộc sống xanh</h2>
            <p>Bổ sung thêm cây xanh là một cách đơn giản nhất để tạo ra sự thoải mái cho không gian sống của bạn, giúp
                mang lại hiệu quả công việc và thư giãn mỗi khi trở về</p>
            <div class="button">
                <button>Liên hệ</button>
                <button>Mua Ngay</button>
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="title">
            <p>Danh mục sản phẩm</p>
        </div>
        <div class="list-product">
            <div class="box">
                <a href="">
                    <img src="../../img/list-product/list-product-bg-1.jpg" alt="">
                    <p>Cây để bàn</p>
                </a>
            </div>
            <div class="box">
                <a href="">
                    <img src="../../img/list-product/list-product-bg-2.jpg" alt="">
                    <p>Cây văn phòng</p>
                </a>
            </div>
            <div class="box">
                <a href="">
                    <img src="../../img/list-product/list-product-bg-3.jpg" alt="">
                    <p>Cây phong thủy</p>
                </a>
            </div>
            <div class="box">
                <a href="">
                    <img src="../../img/list-product/list-product-bg-4.jpg" alt="">
                    <p>Cây để bàn</p>
                </a>
            </div>
            <div class="box">
                <a href="">
                    <img src="../../img/list-product/list-product-bg-5.jpg" alt="">
                    <p>Cây trồng nước</p>
                </a>
            </div>
            <div class="box">
                <a href="">
                    <img src="../../img/list-product/list-product-bg-6.jpg" alt="">
                    <p>Cây cao cấp</p>
                </a>
            </div>
            <div class="box">
                <a href="">
                    <img src="../../img/list-product/list-product-bg-7.jpg" alt="">
                    <p>Chậu đất nung</p>
                </a>
            </div>
            <div class="box">
                <a href="">
                    <img src="../../img/list-product/list-product-bg-8.jpg" alt="">
                    <p>Chậu xi măng</p>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="section-3">
        <span class="title">SẢN PHẨM MỚI</span>
        <div class="new-product">
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>
            <div class="product-1">
                <a href=""><img src="../../img/list-product/list-product-bg-1.jpg" alt=""></a>
                <a href=""><span class="product-name"> Sản phẩm 1</span></a>
                <span class="product-price">750.000đ</span>
            </div>

        </div>
    </div> -->


</body>

</html>