<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <link rel="stylesheet" href="header.css">
    <title>MOW Garden</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="header-top-content">
                <div class="contact">8:30 - 22:00 | 0359146052</div>
                <div class="login"> <i class="fa-solid fa-heart" style="color: #ffffff;"></i> | Login</div>
            </div>
        </div>

        <div class="header-main">
            <div class="logo"><a href=""><img src="../../img/LOGO.png" alt=""></a></div>
            <div class="menu">
                <ul>
                    <li><a href="">Cây Trong Nhà <i class="fa-solid fa-angle-down"></i></a></li>
                    <li><a href="">Cây Ngoài Trời <i class="fa-solid fa-angle-down"></i></a></li>
                    <li><a href="">Chậu Cây <i class="fa-solid fa-angle-down"></i></a></li>
                    <li><a href="">Phụ Kiện <i class="fa-solid fa-angle-down"></i></a></li>
                    <li><a href="">Hướng Dẫn <i class="fa-solid fa-angle-down"></i></a></li>
                </ul>
            </div>
            <div class="search">
                <h3>0đ</h3>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </header>
    <div class="section-1">
        <div class="section-1-background"><img src="../../img/mowgarden-shop-ban-cay-canh.jpg" alt=""></div>
        <div class="text-box">
            <h2>Tận hưởng cuộc sống xanh</h2>
            <p>Bổ sung thêm cây xanh là một cách đơn giản nhất để tạo ra sự thoải mái cho không gian sống của bạn, giúp
                mang lại hiệu quả công việc và thư giãn mỗi khi trở về</p>
            <div class="button">
                <button>Liên hệ</button>
                <button>Mua Ngay</button>
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="content">
            <div class="tieu-de">
                <p>Danh mục sản phẩm</p>
            </div>
            <div class="list-product">
                <div class="box">
                    <a href="">
                        <img src="../../img/list-product/list-product-bg-1.jpg" alt="">
                        <p>Cây để bàn</p>
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="../../img/list-product/list-product-bg-2.jpg" alt="">
                        <p>Cây văn phòng</p>
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="../../img/list-product/list-product-bg-3.jpg" alt="">
                        <p>Cây phong thủy</p>
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="../../img/list-product/list-product-bg-4.jpg" alt="">
                        <p>Cây để bàn</p>
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="../../img/list-product/list-product-bg-5.jpg" alt="">
                        <p>Cây trồng nước</p>
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="../../img/list-product/list-product-bg-6.jpg" alt="">
                        <p>Cây cao cấp</p>
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="../../img/list-product/list-product-bg-7.jpg" alt="">
                        <p>Chậu đất nung</p>
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="../../img/list-product/list-product-bg-8.jpg" alt="">
                        <p>Chậu xi măng</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>